body{
  font-family: 'Anton' , sans-serif;
  margin: 0;
}
table{
  width: 100%;

}
th{
  background: #273B47;
  color: white;
  padding: 10px;

}
td{
  text-align: center;
  padding: 20px;
}
table,td,th{
  border: 2px solid #273B47;
  border-collapse: collapse;
}
input:focus , textarea:focus{
  background-color: lightgray;
}
.background{
  background-image: url('../images/background.png');
  background-attachment: fixed;
  background-size: cover;
}
.button{
  border-radius: 10px;
  background: #FD324E;
  font-size: 20px;
  border: none;
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  cursor: pointer;
  background: linear-gradient(to left , #FE344E , #FF7250);
}
.contenedor{
  position: relative;
  max-width: 800px;
  margin: auto;
}
.titulo{
  font-family: 'Lobster' , sans-serif;
  font-size: 70px;
  margin-top: 70px;
  margin-bottom: 0px;
}
.titulo span{
  text-decoration: underline;
}
.title-a{
  font-size: 24px;
  margin-top: 0;
  padding-left: 40px;
}
.title-b{
  font-size: 40px;
  font-family: 'Lobster' , sans-serif;
  margin-bottom: 20px;
}
.guitarras h2{
  font-size: 35px;
}
.guitarras{
  margin-bottom: 70px;
  color: #1F313C;
}
.right{
  float: right;
  position: relative;
  top: -145px;

}
.left{
  float: left;
  position: relative;
  top: -16px;
}
.guitarra{
  border: 2px solid #1F313C;
  border-radius: 10px;
  margin: 10px 10px 40px 10px;
  padding: 10px;
}
.guitarra ol{
  padding: 0;
}
.portada{
  color: white;
  padding: 20px;
  height: 70vh;
}
.portada button{
  margin-bottom: 70px;
}
.menu{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}
.menu li{
  display: inline-block;
  margin-left: 30px;
}
.menu li a{
  text-decoration: none;
  color: white;
}
.guitarra-icono::before{
  content: url('https://png.icons8.com/rock-music/ios7/40/ffffff');
}
.precios-icono::before{
  content: url('https://png.icons8.com/price/ios7/30/ffffff');
  margin-right: 8px;
}
.logotipo{
  display: inline-block;
  margin-left: 0;
}
.contenedor-guitarra-a{
  position: relative;
  left: 83px;
  bottom: 20px;
  margin-right: 370px;
}
.contenedor-guitarra-b{
  position: relative;
  bottom: 56px;
  height: 170px;
  padding-left: 20px;
  margin-left: 470px;
}
.header{
  position: relative;
}
.footer{
  padding: 50px 10px;
  background: #273B47;
}
.contacto{
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  align-items: center;
}
.contacto img{
  display: block;
}
.contacto strong{
  display: block;
}
.contacto a{
  margin: 10px 10px 10px 0;
  color: white;
  text-decoration: none;
}
.contenedor-footer{
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.formulario{
  display: flex;
  width: 400px;
  color: white;
}
.col1 , .col2{
  flex-wrap: wrap;
}
.col1{
  margin-right: 10px;
}
.intereses label{
  font-size: 14px;
}
.formulario label , .sexo , .intereses{
  margin-bottom: 15px;
}
.sexo{
  margin-top: 10px;
}
.tabla{
  margin: 50px 0 ;
}


@media screen and (max-width: 800px) {

  /*estilos de portada*/
  .titulo{
    font-size: 60px;
    margin-top: 35px;
  }
  .contenedor{
    max-width: 600px;
  }
  .contenedor-eslogan{
    text-align: center;
  }
  .portada{
    height: 45vh;
  }
  /* fin estilos de portada*/

  /*estilos de guitarras*/
  .left , .right{
    float: none;
    position: static;
  }
  .guitarras{
    text-align: center;
  }
  .contenedor-guitarra-a , .contenedor-guitarra-b{
    text-align: center;
    position: static;
    margin: 0;
  }
  .title-b{
    margin: 0px;
  }
  .contenedor-guitarra-a ol , .contenedor-guitarra-b ol{
    list-style: none;
  }

  /* fin estilos de guitarras*/

  /* estilos de footer */
  .contenedor-footer{
    display: flex;
    justify-content: center;
  }



  /* estilos de footer */


}
