@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ig9izm');
  src:  url('../fonts/icomoon.eot?ig9izm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ig9izm') format('truetype'),
    url('../fonts/icomoon.woff?ig9izm') format('woff'),
    url('../fonts/icomoon.svg?ig9izm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}

body{
  font-family: 'Anton' , sans-serif;
  margin: 0;
}
table{
  width: 100%;

}
th{
  background: #273B47;
  color: white;
  padding: 10px;

}
td{
  text-align: center;
  padding: 20px;
}
table,td,th{
  border: 2px solid #273B47;
  border-collapse: collapse;
}
input:focus , textarea:focus{
  background-color: lightgray;
}
.background{
  background-image: url('../images/background.png');
  background-attachment: fixed;
  background-size: cover;
}
.button{
  border-radius: 10px;
  background: #FD324E;
  font-size: 20px;
  border: none;
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  cursor: pointer;
  background: linear-gradient(to left , #FE344E , #FF7250);
}
.contenedor{
  position: relative;
  max-width: 800px;
  margin: auto;
}
.titulo{
  font-family: 'Lobster' , sans-serif;
  font-size: 70px;
  margin-top: 70px;
  margin-bottom: 0px;
}
.titulo span{
  text-decoration: underline;
}
.title-a{
  font-size: 24px;
  padding-left: 40px;
}
.title-b{
  font-size: 40px;
  font-family: 'Lobster' , sans-serif;
  margin-bottom: 20px;
}
.guitarras h2{
  font-size: 35px;
}
.guitarras{
  margin-bottom: 70px;
  color: #1F313C;
}
.right{
  float: right;
  position: relative;
  top: -145px;
}
.left{
  float: left;
  position: relative;
  top: -16px;
}
.guitarra{
  border: 2px solid #1F313C;
  border-radius: 10px;
  margin: 10px 10px 40px 10px;
  padding: 10px;
}
.guitarra ol{
  padding: 0;
}
.portada{
  color: white;
  padding: 20px;
  height: 70vh;
}
.portada button{
  margin-bottom: 70px;
}
.menu{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 13px;
}
.menu li{
  display: inline-block;
  margin-left: 30px;
}
.menu li a{
  text-decoration: none;
  color: white;
}
.guitarra-icono::before{
  content: url('https://png.icons8.com/rock-music/ios7/40/ffffff');
}
.precios-icono::before{
  content: url('https://png.icons8.com/price/ios7/30/ffffff');
  margin-right: 8px;
}
.logotipo{
  display: inline-block;
  margin-left: 0;
}
.contenedor-guitarra-a{
  position: relative;
  left: 83px;
  bottom: 20px;
  margin-right: 370px;
}
.contenedor-guitarra-b{
  position: relative;
  bottom: 56px;
  height: 170px;
  padding-left: 20px;
  margin-left: 470px;
}
.header{
  position: relative;
}
.footer{
  padding: 50px 10px;
  background: #273B47;
}
.contacto{
  display: flex;
  width: 250px;
  margin-right: 90px;
  flex-wrap: wrap;
  align-items: center;
}
.contacto img{
  display: block;
}
.contacto strong{
  display: block;
}
.contacto a{
  margin: 10px 10px 10px 0;
  color: white;
  text-decoration: none;
}
.contenedor-footer{
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.formulario{
  display: flex;
  width: 90%;
  color: white;
}
.col1 , .col2{
  flex-wrap: wrap;
}
.col1{
  margin-right: 10px;
}
.intereses label{
  font-size: 14px;
}
.formulario label , .sexo , .intereses{
  margin-bottom: 15px;
}
.labels-contact , .col2 label{
  display: block;
}
.sexo{
  margin-top: 10px;
}
.tabla{
  margin: 50px 0 ;
}
.burguer-menu{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  position: fixed;
  top: 20px;
  left: 20px;
  display: none;
}
.video-responsive-contenedor{
  position: relative;
  padding-top: 56.25%;
}
.video-responsive-src{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.video-demo{
  max-width: 500px;
  width: 100%;
  border: 5px solid #3C5B6E;
}
.video-demo-contenedor{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.body-scroll{
  overflow: hidden;
}
@media screen and (max-width: 800px) {

  /*estilos de portada*/
  .titulo{
    font-size: 60px;
    margin-top: 40px;
  }
  .contenedor{
    max-width: 600px;
  }
  .contenedor-eslogan{
    text-align: center;
  }
  .portada{
    height: 45vh;
  }
  /* fin estilos de portada*/

  /*estilos de guitarras*/
  .left , .right{
    float: none;
    position: static;
  }
  .guitarras{
    text-align: center;
  }
  .contenedor-guitarra-a , .contenedor-guitarra-b{
    text-align: center;
    position: static;
    margin: 0;
  }
  .video-demo-contenedor{
    margin-bottom: 30px;
  }
  .title-b{
    margin: 0px;
  }
  .contenedor-guitarra-a ol , .contenedor-guitarra-b ol{
    list-style: none;
  }

  /* fin estilos de guitarras*/

  /* estilos de footer */
  .contenedor-footer{
    max-width: inherit;
    display: flex;
    justify-content: center;
  }
  /* estilos de footer */
}
@media screen and (max-width : 767px) {
  .contenedor-footer{
    display: block;
  }
  .contacto , .formulario{
    padding-left: 30px;
  }
}
@media screen and (max-width : 650px) {
  .portada{
    height: auto;
  }
  .contenedor-eslogan .button{
    display: inline-block;
    margin-bottom: 80px;
  }
  .header{
    text-align: center;
  }
  .logotipo{
    margin: 0;
  }
  .menu{
    position: static;
    display: block;
  }
  .menu ul{
    padding: 23px;
    margin: 0;
  }
  .menu li:first-child{
    margin: 0;
  }
  .logo-footer{
    width: 70%;
  }
  .video-demo-contenedor{
    margin: 0 10px 30px 10px;
  }
  .contenedor-footer{
    justify-content: flex-start;
  }
  .tabla .contenedor{
    overflow: auto;
    width: 400px;
  }
}
@media screen and (max-width : 500px) {
  .precios .header .logotipo{
    padding: 10px;
  }
  .burguer-menu{
    display: block;
  }
  .portada .contenedor{
    position: static;
  }
  .menu{
    background: rgba(255, 60, 88, 0.85);
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: .5s;
  }
  .menu.active{
    left: 0;
  }
  .menu ul{
    flex: 1;
  }
  .menu li{
    display: block;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid white;
  }
  .menu li:first-child{
    border-top: .5px white solid;
  }
  .precios-icono::before , .guitarra-icono::before{
    display: none;
  }
  .menu ul{
    padding: 0;
  }
  .title-a{
    font-size: 18px;
  }
  .left , .right{
    width: 200px;
  }
  .title-b{
    font-size: 30px;
  }
  .contacto{
    margin-top: 20px;
  }
  .contenedor-footer{
    display: flex;
    flex-direction: column-reverse;
  }
  .formulario{
    display: block;
    padding-left: 10px;
    margin: 0;
  }
  .col2 textarea{
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (min-device-pixel-ratio:2) {
  .background{
    background-image: url('../images/background2x.png');
  }
}
